html {
  background-color: lightsteelblue;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 2em 1em;
  max-width: 60em;
  background-color: white;
}

#nav ul {
  padding-left: 0;
}
#nav li {
  display: inline-block;
  padding: 0 1em;
}
#nav li:not(:last-child) {
  border-right: 1px solid black;
}

pre, code {
  background-color: lightgoldenrodyellow;
}

p {
  line-height: 1.5em;
}

#footer > a {
  float: right;
}
#footer address {
  border-top: 1px solid black;
}
