html {
  background-color: darkslategrey;
}

body {
  border-radius: 0.2em;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 2em 2em;
  max-width: 50em;
  background-color: white;
  box-shadow: 0em 0em 0.4em white;
}

#nav ul {
  padding-left: 0;
}
#nav li {
  font-size: 0.8em;
  display: inline-block;
  padding: 0 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  line-height: 2em;
  width: 3em;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: darkolivegreen;
  text-align: center;
}
#nav li:hover {
  background-color: grey;
}
#nav li a {
  text-decoration: none;
  color: white;
  font-family: Mono space;
  font-weight: bold;
}

pre, code {
  background-color: lightgoldenrodyellow;
}

p {
  /* line-height: 1.5em; */
}

#footer address {
  float: left;
}

#footer > a {
  float: right;
}
#footer {
  border-top: 1px solid black;
  overflow: auto;
}